180 DIALOGEX 0, 0, 189, 122, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUPWINDOW | WS_VISIBLE | WS_DLGFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Generic OEP Finder FX [v0.8 Beta]"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma"
{
  CONTROL "List1", 1124, "SysListView32", WS_TABSTOP | 0x0000800D, 5, 43, 178, 56, WS_EX_STATICEDGE
  EDITTEXT   1123, 134, 9, 49, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_STATICEDGE
  PUSHBUTTON   "Cancel", 1003, 137, 106, 50, 14, 0, WS_EX_STATICEDGE
  CONTROL "Progress1", 1122, "msctls_progress32", WS_BORDER, 6, 22, 177, 8
  GROUPBOX   "", -1, 2, 0, 185, 34
  LTEXT   "Analising: 0%...", 1077, 6, 9, 64, 10, 0, WS_EX_STATICEDGE
  LTEXT   "OEP Reached at:", -1, 72, 9, 60, 10, 0, WS_EX_STATICEDGE
  GROUPBOX   "List of possible OEP's", -1, 1, 34, 186, 69
  LTEXT   "PE Tools", -1, 2, 109, 28, 8, WS_DISABLED
  LTEXT   "", -1, 2, 107, 56, 1, NOT WS_GROUP | SS_ETCHEDHORZ
  LTEXT   "", -1, 2, 119, 56, 1, NOT WS_GROUP | SS_ETCHEDHORZ
  LTEXT   "", -1, 34, 110, 24, 1, NOT WS_GROUP | SS_ETCHEDHORZ
  LTEXT   "", -1, 34, 116, 24, 1, NOT WS_GROUP | SS_ETCHEDHORZ
  LTEXT   "", -1, 34, 113, 24, 1, NOT WS_GROUP | SS_ETCHEDHORZ
}
